<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <head>
        <title>incroyable</title>
    </head>
<body>

<div class="slide-elem">
    <p>
        {% if DATA %}
            {{ DATA }}
        {% endif %}
    </p>
</div>
<style>
    body {
        background-image: url("{{ url_for('static',filename='styles/src/img3.png') }}"); 
    }
    
</style>
<a href="nextpage.html" class="button">Voir je sais pas</a>
<script src="{{ url_for('static',filename='styles/script.js') }}"></script> 
</body>
</html>