body {
    background-image: url('src/img1.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover; /* This ensures that the background image covers the entire viewport */
    background-repeat: no-repeat; /* This prevents the background image from repeating */
    background-attachment: fixed; /* This fixes the background image, so it doesn't scroll with the content */
}

p {
    position: relative;
    left: 800px;
    top: 300px;
    font-size: 10em;
}