:root {
  --bg: #f7f7f7;
  --text: #;
  --accent: #5d04b1;
  --transi: 300ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--text);
  box-sizing: border-box;
  font-family: system-ui, -apple-system;
  
  display: grid;
  place-content: center;
  background-image: url("src/background.png "); 
  background-size: cover;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.DATA {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.button {
  display: flex;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--accent);
  color: #ffffff;
  border-radius: 20px;
  transition: var(--transi);
}

.button:hover {
  transform: scale(1.03);
}

.slide-elem {
  transform: rotate(0deg); /* Initial rotation angle */
  transition: transform 1s ease; /* Use the transform property for transition */
}

.slide-elem.triggered {
  transform: rotate(720deg);
}
.titleimg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}